<h1>Gossips#edit</h1>
<p>Find me in app/views/gossips/edit.html.erb</p>


<% if @gossip.errors.any? %>
  <div class="alert alert-danger" role="alert">
  Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_for @gossip do |f| %>
  <div class="form-group">
    <label> Titre du gossip </label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label> Contenu du gossip </label>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <button type="submit" classe="btn btn-primary"> Modifier le gossip </button>

<% end  %>




