<h1>Créer ton gossip !</h1>






<% if @gossip.errors.any? %>
  <div class="alert alert-danger" role="alert">
  Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
  
<% end %>
<form action="/gossips" method="POST">
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
      <input type="text" class="form-control" name="gossip_title" placeholder="Titre du gossip"> 
 <br> <input type="text" class="form-control" name="gossip_content" placeholder="Contenu de celui-ci">
 <br> <input type="submit" value="Créer le gossip !" class="btn btn-success">
      <a href="<%= accueil_path%>" type="button" class="btn btn-primary">Revenir aux gossips</button>
</form>

