<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Gossips Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:3000/accueil">Home</a></li>
      <li><a href="http://localhost:3000/team">Team</a></li>
      <li><a href="http://localhost:3000/contact">Contact</a></li>
    </ul>
  </div>
</nav>


<h1>Voici la team !</h1>

